<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=event.eventName%></title>
    <% include meta-data %>
</head>

<body>
    <div class="container">
        <div class="row card-panel">
            <div class="col s12">
                <h1 class="center-align"><%=event.eventName%></h1>
            </div>
            <div class="col s12">
                <% instructions.forEach((ele) => {%>
                <blockquote><%-ele%></blockquote>
                <%})%>
            </div>
            <form action="<%=event.link%>/start" method="post" class="col s12">
                <div class="input-field col s12">
                    <input type="hidden" name="eventCode" value="<%=event.eventCode%>">
                </div>
                <div class="input-field col s12">
                    <select name="friendEmail">
                        <option value="" selected>Individual</option>
                        <% friends.forEach((friend) => { %>
                        <option value="<%=friend.email%>"><%=friend.name%></option>
                        <%});%>
                    </select>
                    <label>Participating With:</label>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit">Agree &amp continue
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
            </form>
        </div>
    </div>
    <script src="/js/materialize.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
</body>

</html>