<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include meta-data %>
    <title>Events</title>
</head>

<body>
    <% include header %>
    <div class="container">
        <% if (loginMsgSuccess.length) { %>
                <script>document.addEventListener('DOMContentLoaded', () => {toast('<%=loginMsgSuccess%>', 'green rounded');})</script>
        <% } %>
        <% if (responseMsgSuccess.length) { %>
            <div id="modal1" class="modal green" style="margin-top: 12%;">
                <div class="modal-content">
                  <h5><%=responseMsgSuccess%></h5>
                </div>
              </div>
        <% } %>
        <% if (responseMsgFailure.length || eventRulesMsg.length) { %>
            <div id="modal1" class="modal red" style="margin-top: 12%;">
                <div class="modal-content">
                  <h5><%=responseMsgFailure%></h5>
                  <h5><%=eventRulesMsg%></h5>
                </div>
              </div>
        <% } %>
        
        <h1 class="center-align card">Events</h1>
        <div class="row card-panel">
            <%liveEvents.forEach((ele) => {%>
            <div class="col s12 m6 l6">
                <div class="card hoverable" style="background-color: #a03f42">
                    <div class="card-content white-text">
                        <span class="card-title"><%=ele.eventName%></span>
                        <p><%=ele.intro%></p>
                    </div>
                    <div class="card-action">
                        <% const request = requests.find((request) => { return request.eventCode === ele.eventCode; });%>
                        <% if (request && request.isAllowed && !request.hasStarted) { %>
                        <a href="<%=ele.link%>">Take Quiz</a>
                        <% } else if (request && request.isAllowed && request.hasStarted) { %>
                        <a>You have taken quiz</a>
                        <% } else {%>
                        <a class="btn-floating btn-large tooltipped <%if(!request){%>green<%}else{%>red<%}%> events"  data-tooltip="<%if(!request){%>Click to participate in <%=ele.eventName%><%} else {%>Not Interested <%}%>" eventCode="<%=ele.eventCode%>" eventName="<%=ele.eventName%>">
                            <i class="material-icons">
                                <% if (request) { %>
                                remove
                                <% } else { %>
                                add
                                <%}%>
                            </i>
                            </a>
                        <%}%>
                    </div>
                </div>
            </div>
            <%});%>
        </div>
    </div>
    <% include footer %>
    <script src="/js/eventsRequestAjax.js"></script>
    <script>
            function toast(msg, classes) {
                M.toast({html: msg, classes, position: 'top' });
            }
            </script>
</body>

</html>