<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=eventName%></title>
    <% include meta-data %>
</head>

<body>
    <h4 class="left-align" id="quizTimeLeft"></h4>
    <div>
        <div class="row">
            <div class="col s12 m3 l3" id="grid">
                <div class="row">
                    <% for (let i = 1; i <= questions.length; i++) {%>
                        <a class="waves-effect waves-light btn-large grid col s2" id="grid<%=i%>"><%=i%></a>
                        <%}%>
                </div>
            </div>
            <div class="col s12 m8 l8 push-l1 push-m1">
                <div class="row">
                    <form action="/events/<%=eventCode%>/end" method="post" class="col s12" id="quiz">
                        <input type="hidden" value="<%=questions.length%>" name="numOfQuestions" id="numOfQuestions">
                        <input type="hidden" value="<%=timeLimit%>" id="timeLimit">
                        <% teamMemberEmails.forEach((teamMember) => {%>
                            <input type="hidden" value="<%=teamMember%>" name="teamMemberEmails[]">
                        <%});%>
                        <input type="hidden" value="<%=eventCode%>" name="eventCode">
                        <input type="hidden" value="<%=eventName%>" name="eventName">
                        <%
                        let randomSize = questions.length;
                        let randomArray = Array.from(Array(randomSize).keys());
                        let randomIndex, randomQuestion;
                        %>  
                <% for (let i = 1; i <= questions.length; i++) {
                    randomIndex = Math.round(Math.random() * 100) % randomSize;
                    randomQuestion = randomArray[randomIndex];
                    randomArray.splice(randomIndex, 1);
                    randomSize--;
                    %>
                <div class="row" id="question<%=i%>" class="question" style="display: none">
                    <div class="col s12">
                        <h5><%=i%>.<%-questions[randomQuestion].text%></h5>
                    </div>
                    <% if (questions[randomQuestion].code) {%>
                        <div class="col s12">
                            <%-questions[randomQuestion].code%>
                        </div>
                        <%}%>
                        <% if (questions[randomQuestion].image) {%>
                            <div class="col s12">
                                <img src="/images/events/<%=questions[randomQuestion].image%>">
                            </div>
                            <%}%>
                    <div class="col s12">
                        <div class="row">
                                <%
                                let randomOptionSize = questions[randomQuestion].options.length;
                                let randomOptionArray = Array.from(Array(randomOptionSize).keys());
                                let randomOptionIndex, randomOption;
                                %>
                            <% for (let j = 1; j <= questions[randomQuestion].options.length; j++) { 
                                randomOptionIndex = Math.round(Math.random() * 100) % randomOptionSize;
                                randomOption = randomOptionArray[randomOptionIndex];
                                randomOptionArray.splice(randomOptionIndex, 1);
                                randomOptionSize--;
                                %>
                            <div class="col s5">
                                <p>
                                    <label for="ques<%=i%>option<%=j%>" class="black-text" questionId="<%=i%>" optionId="<%=j%>">
                                        <input type="checkbox" name="ques<%=questions[randomQuestion].qid %>" id="ques<%=i%>option<%=j%>"
                                            class="option<%=i%> filled-in" value="<%=questions[randomQuestion].options[randomOption].key%>">
                                        <span><%=questions[randomQuestion].options[randomOption].text%></span>
                                    </label>
                                </p>
                            </div>
                            <div class="col s1"></div>
                            <% }%>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="row">
                    <div class="input-field col s8">
                        <a id="previousButton" class="waves-effect waves-light btn left"><i class="material-icons left">arrow_back</i>prev</a>
                        <a id="nextButton" class="waves-effect waves-light btn right"><i class="material-icons right">arrow_forward</i>next</a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>            
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <script src="/js/materialize.js"></script>
    <script src="/js/eventStart.js"></script>
</body>

</html>