<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=event.eventName%></title>
    <% include meta-data %>
</head>

<body>
    <div class="container">
        <div class="row card">
            <div class="col s12">
                <h1 class="center-align"><%=event.eventName%></h1>
            </div>
            <div class="col s12">
                <% instructions.forEach((ele) => {%>
                <blockquote><%-ele%></blockquote>
                <%})%>
            </div>
            <input type="hidden" name="teamSizeMin" value="<%=teamSizeMin%>" id="teamSizeMin">
            <input type="hidden" name="teamSizeMax" value="<%=teamSizeMax%>" id="teamSizeMax">
            <form action="/events/<%=event.eventCode%>/start" method="post" class="col s12">
                <div class="input-field col s12">
                    <input type="hidden" name="eventCode" value="<%=event.eventCode%>">
                </div>
                <div class="input-field col s10">
                    <select name="teamMemberEmails[]" multiple>
                        <option value="" disabled>Individual</option>
                        <% allFriends.forEach((friend) => { %>
                        <option value="<%=friend.email%>"><%=friend.name%></option>
                        <%});%>
                    </select>
                    <label>Participating With:</label>
                    <span class="helper-text red-text teamMemberEmails-helper"></span>
                </div>
                <div class="input-field col s2">
                    <i class="material-icons small teamMemberEmails-icon"></i>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit">Agree &amp continue
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
            </form>
        </div>
    </div>
    <script src="/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('select');
            const instances = M.FormSelect.init(elems);
            const submitButton = document.querySelector('button[type="submit"]');
            const teamSizeMin = Number(document.querySelector('#teamSizeMin').value);
            const teamSizeMax = Number(document.querySelector('#teamSizeMax').value);
            const teamMemberEmailsIcon = document.querySelector('.teamMemberEmails-icon');
            const teamMemberEmailsHelper = document.querySelector('.teamMemberEmails-helper');
            submitButton.addEventListener('click', (e) => {
                const instance = M.FormSelect.getInstance(elems[0]);
                const teamSize = instance.getSelectedValues().length;
                let flag = true;
                if (teamSize >= teamSizeMax) {
                    teamMemberEmailsIcon.textContent = 'clear';
                    teamMemberEmailsHelper.textContent = `Team Size cannot exceed ${teamSizeMax}`;
                    flag = false;    
                }
                if (teamSize < teamSizeMin - 1) {
                    teamMemberEmailsIcon.textContent = 'clear';
                    teamMemberEmailsHelper.textContent = `Min Team Size Required is ${teamSizeMin}`;
                    flag = false;
                }
                if (flag) {
                    teamMemberEmailsIcon.textContent = 'check';
                    teamMemberEmailsHelper.textContent = '';
                } else {
                    e.preventDefault();
                }
            });
        });
    </script>
</body>

</html>