<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include meta-data %>
    <title>SignUp</title>
</head>

<body>
    <% include header %>
    <div class="container">
        <div class="row">
            <form method="POST" action="/auth/signUp" class="col s12 l6 push-l3 card-panel">
                <div class="row">
                    <div class="col s12 center">
                        <h2>Sign Up </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input type="text" name="name" id="name" class="validate" value="<%=tempUser.name %>" required>
                        <label for="name">Name</label>
                        <span class="helper-text red-text" data-error=""><%=errorData.name%></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input type="text" name="college" id="college" class="autocomplete" class="validate" value="<%=tempUser.college%>" required>
                        <label for="college">College</label>
                        <span class="helper-text red-text" data-error=""><%=errorData.college%></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input type="number" name="number" id="number" class="validate" value="<%=tempUser.number%>" required>
                        <label for="number">Mobile Number</label>
                        <span class="helper-text red-text" data-error=""><%=errorData.number%></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input type="email" name="email" id="email" class="validate" value="<%=tempUser.email%>" required>
                        <label for="email">Email id</label>
                        <span class="helper-text red-text" data-error=""><%=errorData.email%></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input type="password" name="password" id="password" class="validate" value="<%=tempUser.password%>" required>
                        <label for="password">password</label>
                        <span class="helper-text red-text" data-error=""><%=errorData.password %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <span>Already have an account <a href="/auth/signIn">Sign In </a>here</span>
                </div>
            </form>
        </div>
    </div>
    <% include footer %>
    <script src="/js/signUp.js"></script>
</body>

</html>